.food-item-image{
    width: 100%;
    height: 180px;
}
.card-title{
    font-weight: bolder;
}
.food-item{
    transition: fadeIn 3s;
}
.food-item-price{
    color:orangered;
    font-weight: 800;
    font-size: 16px;
}
.food-item-image-container .add{
        width: 30px;
        bottom: 15px;
        right: 15px;
        cursor:pointer;
        border-radius:50%;
        background-color: white;
        font-size: 10px;
    
}

.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background-color: white;
    
}
